* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;

  --mainBackgroundColor: #14181c;
  --mainColor: #e8ecee;
  --secondaryColor: #1e252c;
  --accentColor: #7786c9;
  --textColor: #ffffff;
}

body {
  height: 100%;
  max-width: 70vw;
  margin: auto;
  width: 100vw;
  background-color: var(--mainBackgroundColor);
  color: #ffffff;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--mainColor);
  margin: 30px 0 30px 0;
}

input {
  background-color: var(--secondaryColor);
  color: var(--textColor);
  border: none;
  padding: 10px;
}

input:hover {
  cursor: text;
}

button:hover {
  cursor: pointer;
}

#add-film-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

#add-film-form button {
  width: 100px;
  grid-column: 1;
  border: none;
  background-color: var(--secondaryColor);
  color: var(--textColor);
  padding: 8px;
  
}

#filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 25px;
}

#filters button {
  width: 100%;
  background-color: var(--secondaryColor);
  color: var(--textColor);  
  border: none;
}

#filter-by-genre,
#filter-by-score {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#filter-by-genre button,
#filter-by-score button {
  margin: 0 10px 0 10px;
}

#headers {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 25px;
  padding: 10px 10px;
}

#headers div {
  text-align: center;
  border-bottom: solid 1px --accentColor;
  padding-top: 0px;
}

#headers div:nth-child(1) {
  grid-column: 2;
}

#films {
  background-color: #506074;
  border: none;
  margin-bottom: 50px;
}

.film {
  display: grid;
  grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100%;
  padding: 20px;
  margin-left: -40px;
  gap: 25px;
  place-items: center;
  text-align: center;
}

.film:last-child {
  border-bottom: none;
}

.film:nth-child(odd) {
  background-color: #65788d;
}

.film div {
  display: flex;
  align-items: center;
}
